<h3>Currently playing: {{title}}</h3>
<h3><a href="/list/">Back to list</a></h3>

<form action="command/next" method="post">
  <input type="submit" name="next" value="Next" />
</form>
<form action="command/backward" method="post">
  <input type="submit" name="previous" value="Previous" />
</form>